{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Войти на сайт</h4>
    </div>
    <div class="card-body">
        {% if next %}
        {% if user.is_authenticated %}
        <p class="card-text">Вы вошли в систему как {{ user.get_username }}, однако у вас недостаточно прав для
            просмотра данной страницы. Возможно, вы хотели бы войти в систему, используя другую учётную запись?</p>
        {% else %}
        <p class="card-text">Пожалуйста, авторизуйтесь, чтобы увидеть эту страницу.</p>
        {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table">
                <tbody>
                {{ form.as_table }}
                </tbody>
            </table>
            {% if form.errors %}
            <p class="card-text invalid-feedback">Неверно указаны логин или пароль.</p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Войти</button>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary">Забыли пароль?</a>
        </form>
    </div>
</div>

{% endblock %}
