{% extends 'base.html' %}
{% block title %}Новый рецепт{% endblock %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Добавьте свой рецепт</h4>
        </div>
        <table class="table">
            <tbody>
                {{ form.as_table }}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
{% endblock %}
